body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px 0;
    position: fixed; /* Set the header to fixed position */
    top: 0; /* Fix the header to the top of the viewport */
    width: 100%;
    z-index: 999; /* Ensure the header stays on top of other elements */
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 20px;
    display: inline;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    border-bottom: 2px solid #fff;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1, h2 {
    color: #333;
}

#about {
    background-color: #f9f9f9;
}

#works {
    background-color: #f3f3f3;
}

#contacts {
    background-color: #f9f9f9;
}

